.contdownContainer {
    display: flex;
    align-items: center;
    font-family: 'Rajdhani', serif;
    font-weight: 600;
    color: var(--title)   
}

.contdownContainer > div {  
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background: var(--white);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
    font-size: 8.5rem;
    border-radius: 5px;
    text-align: center;
}

.contdownContainer > div span{  
    flex: 1;
}

.contdownContainer > div span:first-child{  
    border-right: 1px solid #f0f1f3;
}

.contdownContainer > div span:last-child{  
    border-left: 1px solid #f0f1f3;
}

.contdownContainer > span {
    font-size: 6.25rem;
    margin: 0 0.5rem
}

.coutdownButton {
    width: 100%;
    height: 5rem;

    margin-top: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 0;
    border-radius: 5px;

    background: var(--blue);
    color: var(--white);

    font-weight: 600;

    transition: background-color 200ms;
}

.coutdownButton:not(:disabled):hover {
    background: var(--blue-dark)
} 

.coutdownButtonActive {
    background: var(--white);
    color: var(--title);
}

.coutdownButtonActive:not(:disabled):hover {
    background: var(--red);
    color: var(--white);
}

.coutdownButton[disabled] {
    background: var(--white);
    color: var(--text);
    cursor: not-allowed;
}





